.loading {
    background-color: #1f1f1f;
    padding: 2px;
    width: 200px;
    text-align: center;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}