:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

select {
  background-color: #0f0f0f;
  color: #f6f6f6;
  border: #EFE84A solid 1px;
  outline: none;
  width: 150px;
  height: 40px;
}

option {
  background-color: #0f0f0f;
  border: none;
  outline: none;
}

button {
  background-color: #0f0f0f;
  color: #f6f6f6;
  border: #EFE84A solid 1px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  background-color: #EFE84A;
  color: #0f0f0f;
}